/vendor
/composer.lock
*.ignore
*.log

/demo/assets/*
/demo/cache
/demo/**/*.html
/demo/content/*
!/demo/content/index.md
env.yaml
/demo/storage/*
!/demo/**/README.md

/src/Composer/*.txt
/src/Composer/themes/*
!/src/Composer/themes/README.md
