/vendor
/composer.lock
*.ignore
*.log

/demo/assets
/demo/cache
/demo/**/*.html
/demo/content/*
!/demo/content/index.md
env.yaml

/src/Composer/*.txt
/src/Composer/themes/*
!/src/Composer/themes/README.md
