/*
 Foreground colors only, light mode
 */
/**
 Background colors (also sets a sane default fg
 */
/*
 overlay colors/opacity
 */
/*
 link colors
 */
/*
 margin/padding
 */
/*
 large margins/padding
 */
/*
 small margins/padding
 */
/*
 font sizes
 */
/*
 Classes to control color scheme
 */
.colors-light {
  color: #444;
  background-color: #fafafa; }

.colors-dark {
  color: #ddd;
  background-color: #333; }

/*
 Foreground colors only, light mode
 */
.text-normal {
  color: #444; }
  .colors-light .text-normal, .colors-dark .colors-light .text-normal {
    color: #444; }
  .colors-dark .text-normal, .colors-light .colors-dark .text-normal {
    color: #ddd; }

.text-accent {
  color: #000; }
  .colors-light .text-accent, .colors-dark .colors-light .text-accent {
    color: #000; }
  .colors-dark .text-accent, .colors-light .colors-dark .text-accent {
    color: #eee; }

.text-primary {
  color: #43A047; }
  .colors-light .text-primary, .colors-dark .colors-light .text-primary {
    color: #43A047; }
  .colors-dark .text-primary, .colors-light .colors-dark .text-primary {
    color: #43A047; }

.text-secondary {
  color: #9E9D24; }
  .colors-light .text-secondary, .colors-dark .colors-light .text-secondary {
    color: #9E9D24; }
  .colors-dark .text-secondary, .colors-light .colors-dark .text-secondary {
    color: #9E9D24; }

.text-success {
  color: #8BC34A; }
  .colors-light .text-success, .colors-dark .colors-light .text-success {
    color: #8BC34A; }
  .colors-dark .text-success, .colors-light .colors-dark .text-success {
    color: #8BC34A; }

.text-danger {
  color: #f44336; }
  .colors-light .text-danger, .colors-dark .colors-light .text-danger {
    color: #f44336; }
  .colors-dark .text-danger, .colors-light .colors-dark .text-danger {
    color: #f44336; }

.text-warning {
  color: #FF9800; }
  .colors-light .text-warning, .colors-dark .colors-light .text-warning {
    color: #FF9800; }
  .colors-dark .text-warning, .colors-light .colors-dark .text-warning {
    color: #FF9800; }

.text-info {
  color: #00BCD4; }
  .colors-light .text-info, .colors-dark .colors-light .text-info {
    color: #00BCD4; }
  .colors-dark .text-info, .colors-light .colors-dark .text-info {
    color: #00BCD4; }

.text-muted {
  color: #999; }
  .colors-light .text-muted, .colors-dark .colors-light .text-muted {
    color: #999; }
  .colors-dark .text-muted, .colors-light .colors-dark .text-muted {
    color: #999; }

/*
 Background colors (also sets a sane default fg)
 */
.bg-normal {
  background-color: #fafafa;
  color: #444; }
  .colors-light .bg-normal, .colors-dark .colors-light .bg-normal {
    background-color: #fafafa;
    color: #444; }
  .colors-dark .bg-normal, .colors-light .colors-dark .bg-normal {
    background-color: #333;
    color: #ddd; }

.bg-accent {
  background-color: #eee;
  color: #000; }
  .colors-light .bg-accent, .colors-dark .colors-light .bg-accent {
    background-color: #eee;
    color: #000; }
  .colors-dark .bg-accent, .colors-light .colors-dark .bg-accent {
    background-color: #222;
    color: #eee; }

.bg-primary {
  background-color: #43A047;
  color: #fff; }
  .colors-light .bg-primary, .colors-dark .colors-light .bg-primary {
    background-color: #43A047;
    color: #fff; }
  .colors-dark .bg-primary, .colors-light .colors-dark .bg-primary {
    background-color: #43A047;
    color: #fff; }
  .bg-primary a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-primary a:hover, .bg-primary a:active {
      opacity: 1; }

.bg-secondary {
  background-color: #9E9D24;
  color: #fff; }
  .colors-light .bg-secondary, .colors-dark .colors-light .bg-secondary {
    background-color: #9E9D24;
    color: #fff; }
  .colors-dark .bg-secondary, .colors-light .colors-dark .bg-secondary {
    background-color: #9E9D24;
    color: #fff; }
  .bg-secondary a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-secondary a:hover, .bg-secondary a:active {
      opacity: 1; }

.bg-success {
  background-color: #8BC34A;
  color: #000; }
  .colors-light .bg-success, .colors-dark .colors-light .bg-success {
    background-color: #8BC34A;
    color: #000; }
  .colors-dark .bg-success, .colors-light .colors-dark .bg-success {
    background-color: #8BC34A;
    color: #000; }
  .bg-success a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-success a:hover, .bg-success a:active {
      opacity: 1; }

.bg-danger {
  background-color: #f44336;
  color: #000; }
  .colors-light .bg-danger, .colors-dark .colors-light .bg-danger {
    background-color: #f44336;
    color: #000; }
  .colors-dark .bg-danger, .colors-light .colors-dark .bg-danger {
    background-color: #f44336;
    color: #000; }
  .bg-danger a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-danger a:hover, .bg-danger a:active {
      opacity: 1; }

.bg-warning {
  background-color: #FF9800;
  color: #fff; }
  .colors-light .bg-warning, .colors-dark .colors-light .bg-warning {
    background-color: #FF9800;
    color: #fff; }
  .colors-dark .bg-warning, .colors-light .colors-dark .bg-warning {
    background-color: #FF9800;
    color: #fff; }
  .bg-warning a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-warning a:hover, .bg-warning a:active {
      opacity: 1; }

.bg-info {
  background-color: #00BCD4;
  color: #fff; }
  .colors-light .bg-info, .colors-dark .colors-light .bg-info {
    background-color: #00BCD4;
    color: #fff; }
  .colors-dark .bg-info, .colors-light .colors-dark .bg-info {
    background-color: #00BCD4;
    color: #fff; }
  .bg-info a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .bg-info a:hover, .bg-info a:active {
      opacity: 1; }

.bg-muted {
  background-color: #ddd;
  color: #999; }
  .colors-light .bg-muted, .colors-dark .colors-light .bg-muted {
    background-color: #ddd;
    color: #999; }
  .colors-dark .bg-muted, .colors-light .colors-dark .bg-muted {
    background-color: #555;
    color: #999; }

/*
 Overlay colors/opacity
 */
.bg-overlay {
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.8); }
  .colors-light .bg-overlay, .colors-dark .colors-light .bg-overlay {
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.8); }
  .colors-dark .bg-overlay, .colors-light .colors-dark .bg-overlay {
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.8); }

.bg-overlay-muted {
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.5); }
  .colors-light .bg-overlay-muted, .colors-dark .colors-light .bg-overlay-muted {
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.5); }
  .colors-dark .bg-overlay-muted, .colors-light .colors-dark .bg-overlay-muted {
    background-color: #222;
    background-color: rgba(34, 34, 34, 0.5); }

.font-size-xs {
  font-size: 0.6944444444rem; }

.font-size-sm {
  font-size: 0.8333333333rem; }

.font-size-md {
  font-size: 1rem; }

.font-size-lg {
  font-size: 1.2rem; }

.font-size-xl {
  font-size: 1.44rem; }

.font-size-smaller {
  font-size: 83.3333333333%; }

.font-size-larger {
  font-size: 120%; }

.font-size-xsmaller {
  font-size: 83.3333333333%; }

.font-size-xlarger {
  font-size: 120%; }

.font-size-h6 {
  font-size: 120%; }

.font-size-h5 {
  font-size: 144%; }

.font-size-h4 {
  font-size: 172.8%; }

.font-size-h3 {
  font-size: 207.36%; }

.font-size-h2 {
  font-size: 248.832%; }

.font-size-h1 {
  font-size: 298.5984%; }

.margin-l {
  margin-left: 2rem; }

.margin-r {
  margin-right: 2rem; }

.margin-t {
  margin-top: 2rem; }

.margin-b {
  margin-bottom: 2rem; }

.margin-x {
  margin-left: 2rem;
  margin-right: 2rem; }

.margin-y {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-block {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .margin-block:first-child {
    margin-top: 0; }
  .margin-block:last-child {
    margin-bottom: 0; }

.padding-l {
  padding-left: 1.5rem; }

.padding-r {
  padding-right: 1.5rem; }

.padding-t {
  padding-top: 1.5rem; }

.padding-b {
  padding-bottom: 1.5rem; }

.padding-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.padding-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.margin-l-lg {
  margin-left: 4rem; }

.margin-r-lg {
  margin-right: 4rem; }

.margin-t-lg {
  margin-top: 4rem; }

.margin-b-lg {
  margin-bottom: 4rem; }

.margin-x-lg {
  margin-left: 4rem;
  margin-right: 4rem; }

.margin-y-lg {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.margin-lg {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.padding-l-lg {
  padding-left: 3rem; }

.padding-r-lg {
  padding-right: 3rem; }

.padding-t-lg {
  padding-top: 3rem; }

.padding-b-lg {
  padding-bottom: 3rem; }

.padding-x-lg {
  padding-left: 3rem;
  padding-right: 3rem; }

.padding-y-lg {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.padding-lg {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.margin-l-sm {
  margin-left: 1rem; }

.margin-r-sm {
  margin-right: 1rem; }

.margin-t-sm {
  margin-top: 1rem; }

.margin-b-sm {
  margin-bottom: 1rem; }

.margin-x-sm {
  margin-left: 1rem;
  margin-right: 1rem; }

.margin-y-sm {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-sm {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.padding-l-sm {
  padding-left: 0.75rem; }

.padding-r-sm {
  padding-right: 0.75rem; }

.padding-t-sm {
  padding-top: 0.75rem; }

.padding-b-sm {
  padding-bottom: 0.75rem; }

.padding-x-sm {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.padding-y-sm {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.padding-sm {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.hljs-comment, .hljs-quote {
  color: #00BCD4;
  font-style: italic; }
  .colors-light .hljs-comment, .colors-light .hljs-quote, .colors-dark .colors-light .hljs-comment, .colors-dark .colors-light .hljs-quote {
    color: #00BCD4; }
  .colors-dark .hljs-comment, .colors-dark .hljs-quote, .colors-light .colors-dark .hljs-comment, .colors-light .colors-dark .hljs-quote {
    color: #00BCD4; }

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #43A047;
  font-weight: bold; }
  .colors-light .hljs-keyword, .colors-light .hljs-selector-tag, .colors-light .hljs-subst, .colors-dark .colors-light .hljs-keyword, .colors-dark .colors-light .hljs-selector-tag, .colors-dark .colors-light .hljs-subst {
    color: #43A047; }
  .colors-dark .hljs-keyword, .colors-dark .hljs-selector-tag, .colors-dark .hljs-subst, .colors-light .colors-dark .hljs-keyword, .colors-light .colors-dark .hljs-selector-tag, .colors-light .colors-dark .hljs-subst {
    color: #43A047; }

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #9E9D24; }
  .colors-light .hljs-number, .colors-light .hljs-literal, .colors-light .hljs-variable, .colors-light .hljs-template-variable, .colors-light .hljs-tag .hljs-attr, .colors-dark .colors-light .hljs-number, .colors-dark .colors-light .hljs-literal, .colors-dark .colors-light .hljs-variable, .colors-dark .colors-light .hljs-template-variable, .colors-dark .colors-light .hljs-tag .hljs-attr {
    color: #9E9D24; }
  .colors-dark .hljs-number, .colors-dark .hljs-literal, .colors-dark .hljs-variable, .colors-dark .hljs-template-variable, .colors-dark .hljs-tag .hljs-attr, .colors-light .colors-dark .hljs-number, .colors-light .colors-dark .hljs-literal, .colors-light .colors-dark .hljs-variable, .colors-light .colors-dark .hljs-template-variable, .colors-light .colors-dark .hljs-tag .hljs-attr {
    color: #9E9D24; }

.hljs-string, .hljs-doctag {
  color: #9E9D24; }
  .colors-light .hljs-string, .colors-light .hljs-doctag, .colors-dark .colors-light .hljs-string, .colors-dark .colors-light .hljs-doctag {
    color: #9E9D24; }
  .colors-dark .hljs-string, .colors-dark .hljs-doctag, .colors-light .colors-dark .hljs-string, .colors-light .colors-dark .hljs-doctag {
    color: #9E9D24; }

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #43A047;
  font-weight: bold; }
  .colors-light .hljs-title, .colors-light .hljs-section, .colors-light .hljs-selector-id, .colors-dark .colors-light .hljs-title, .colors-dark .colors-light .hljs-section, .colors-dark .colors-light .hljs-selector-id {
    color: #43A047; }
  .colors-dark .hljs-title, .colors-dark .hljs-section, .colors-dark .hljs-selector-id, .colors-light .colors-dark .hljs-title, .colors-light .colors-dark .hljs-section, .colors-light .colors-dark .hljs-selector-id {
    color: #43A047; }

.hljs-subst {
  font-weight: normal; }

.hljs-type, .hljs-class .hljs-title {
  color: #FF9800;
  font-weight: bold; }
  .colors-light .hljs-type, .colors-light .hljs-class .hljs-title, .colors-dark .colors-light .hljs-type, .colors-dark .colors-light .hljs-class .hljs-title {
    color: #FF9800; }
  .colors-dark .hljs-type, .colors-dark .hljs-class .hljs-title, .colors-light .colors-dark .hljs-type, .colors-light .colors-dark .hljs-class .hljs-title {
    color: #FF9800; }

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #9E9D24;
  font-weight: normal; }
  .colors-light .hljs-tag, .colors-light .hljs-name, .colors-light .hljs-attribute, .colors-dark .colors-light .hljs-tag, .colors-dark .colors-light .hljs-name, .colors-dark .colors-light .hljs-attribute {
    color: #9E9D24; }
  .colors-dark .hljs-tag, .colors-dark .hljs-name, .colors-dark .hljs-attribute, .colors-light .colors-dark .hljs-tag, .colors-light .colors-dark .hljs-name, .colors-light .colors-dark .hljs-attribute {
    color: #9E9D24; }

.hljs-regexp, .hljs-link {
  color: #43A047; }
  .colors-light .hljs-regexp, .colors-light .hljs-link, .colors-dark .colors-light .hljs-regexp, .colors-dark .colors-light .hljs-link {
    color: #43A047; }
  .colors-dark .hljs-regexp, .colors-dark .hljs-link, .colors-light .colors-dark .hljs-regexp, .colors-light .colors-dark .hljs-link {
    color: #43A047; }

.hljs-symbol, .hljs-bullet {
  color: #FF9800; }
  .colors-light .hljs-symbol, .colors-light .hljs-bullet, .colors-dark .colors-light .hljs-symbol, .colors-dark .colors-light .hljs-bullet {
    color: #FF9800; }
  .colors-dark .hljs-symbol, .colors-dark .hljs-bullet, .colors-light .colors-dark .hljs-symbol, .colors-light .colors-dark .hljs-bullet {
    color: #FF9800; }

.hljs-built_in, .hljs-builtin-name {
  color: #8BC34A; }
  .colors-light .hljs-built_in, .colors-light .hljs-builtin-name, .colors-dark .colors-light .hljs-built_in, .colors-dark .colors-light .hljs-builtin-name {
    color: #8BC34A; }
  .colors-dark .hljs-built_in, .colors-dark .hljs-builtin-name, .colors-light .colors-dark .hljs-built_in, .colors-light .colors-dark .hljs-builtin-name {
    color: #8BC34A; }

.hljs-meta {
  color: #00BCD4;
  font-weight: bold; }
  .colors-light .hljs-meta, .colors-dark .colors-light .hljs-meta {
    color: #00BCD4; }
  .colors-dark .hljs-meta, .colors-light .colors-dark .hljs-meta {
    color: #00BCD4; }

.hljs-deletion {
  background-color: #f44336;
  color: #000; }
  .colors-light .hljs-deletion, .colors-dark .colors-light .hljs-deletion {
    background-color: #f44336;
    color: #000; }
  .colors-dark .hljs-deletion, .colors-light .colors-dark .hljs-deletion {
    background-color: #f44336;
    color: #000; }
  .hljs-deletion a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .hljs-deletion a:hover, .hljs-deletion a:active {
      opacity: 1; }

.hljs-addition {
  background-color: #8BC34A;
  color: #000; }
  .colors-light .hljs-addition, .colors-dark .colors-light .hljs-addition {
    background-color: #8BC34A;
    color: #000; }
  .colors-dark .hljs-addition, .colors-light .colors-dark .hljs-addition {
    background-color: #8BC34A;
    color: #000; }
  .hljs-addition a {
    color: inherit !important;
    font-weight: bold;
    opacity: 0.8; }
    .hljs-addition a:hover, .hljs-addition a:active {
      opacity: 1; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/*
 This file contains some basic sane semantic styles, to make core HTML
 elements and a few semantic utility classes play nice with the rest
 of the built-in theming/coloring
 */
body {
  font-size: 1rem;
  line-height: 1.5em; }

body, body.colors-light {
  color: #444;
  background-color: #fafafa; }

body.colors-dark {
  color: #ddd;
  background-color: #333; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em; }

h1 {
  font-size: 298.5984%; }

h2 {
  font-size: 248.832%; }

h3 {
  font-size: 207.36%; }

h4 {
  font-size: 172.8%; }

h5 {
  font-size: 144%; }

h6 {
  font-size: 120%; }

embed, figcaption, h1, h2, h3, h4, h5, h6, hr, ol, p, section, table, tfoot, ul, video {
  margin-top: 2rem;
  margin-bottom: 2rem; }

ul, ol {
  padding: 0;
  padding-left: 1.5rem; }
  ul ul, ol ul, ul ol, ol ol {
    margin: 0; }
    ul ul li, ol ul li, ul ol li, ol ol li {
      margin: 0; }

li {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  li:first-child {
    margin-top: 0; }
  li:last-child {
    margin-bottom: 0; }
  li::marker {
    color: #444; }
    .colors-light li::marker, .colors-dark .colors-light li::marker {
      color: #444; }
    .colors-dark li::marker, .colors-light .colors-dark li::marker {
      color: #ddd; }

address, aside, blockquote, fieldset, figure, pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #eee;
  color: #000; }
  .colors-light address, .colors-light aside, .colors-light blockquote, .colors-light fieldset, .colors-light figure, .colors-light pre, .colors-dark .colors-light address, .colors-dark .colors-light aside, .colors-dark .colors-light blockquote, .colors-dark .colors-light fieldset, .colors-dark .colors-light figure, .colors-dark .colors-light pre {
    background-color: #eee;
    color: #000; }
  .colors-dark address, .colors-dark aside, .colors-dark blockquote, .colors-dark fieldset, .colors-dark figure, .colors-dark pre, .colors-light .colors-dark address, .colors-light .colors-dark aside, .colors-light .colors-dark blockquote, .colors-light .colors-dark fieldset, .colors-light .colors-dark figure, .colors-light .colors-dark pre {
    background-color: #222;
    color: #eee; }

address {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

dl {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #eee;
  color: #000; }
  .colors-light dl, .colors-dark .colors-light dl {
    background-color: #eee;
    color: #000; }
  .colors-dark dl, .colors-light .colors-dark dl {
    background-color: #222;
    color: #eee; }

dt {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold; }
  .colors-light dt, .colors-dark .colors-light dt {
    color: #000; }
  .colors-dark dt, .colors-light .colors-dark dt {
    color: #eee; }

dd {
  margin: 0;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem; }
  dd:last-child {
    padding-bottom: 0; }

aside {
  font-size: 0.8333333333rem;
  line-height: 1.5em; }
  aside h1:first-child, aside h2:first-child, aside h3:first-child, aside h4:first-child, aside h5:first-child, aside h6:first-child {
    margin-top: 0; }

code {
  background-color: #eee;
  color: #000;
  padding: 0.2em;
  display: inline-block;
  line-height: 1.2em; }
  .colors-light code, .colors-dark .colors-light code {
    background-color: #eee;
    color: #000; }
  .colors-dark code, .colors-light .colors-dark code {
    background-color: #222;
    color: #eee; }

pre > code {
  display: block;
  overflow: auto;
  padding: 0;
  line-height: 1.8em; }

small {
  font-size: 83.3333333333%; }

b, i, em, strong {
  color: #000; }
  .colors-light b, .colors-light i, .colors-light em, .colors-light strong, .colors-dark .colors-light b, .colors-dark .colors-light i, .colors-dark .colors-light em, .colors-dark .colors-light strong {
    color: #000; }
  .colors-dark b, .colors-dark i, .colors-dark em, .colors-dark strong, .colors-light .colors-dark b, .colors-light .colors-dark i, .colors-light .colors-dark em, .colors-light .colors-dark strong {
    color: #eee; }
