#lightbox {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.active {
        display: block;
    }
}

#lightbox-loading,
#lightbox-content {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 2rem;
}

#lightbox-loading {
    @include bg-accent;
    display: none;
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .spinner {
        font-size: 5em;
    }
}

#lightbox-content {
    @include bg-accent;
    >iframe,
    >div {
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    >img {
        object-fit: scale-down;
        height: 100%;
        width: 100%;
    }
}

#lightbox-controls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10001;
    a {
        cursor: pointer;
        font-size: 0;
        text-decoration: none;
        &:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            @include font-size-xl;
        }
    }
    .previous,
    .next {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 2rem;
        &:after {
            @include bg-normal;
            @include padding-x;
            content: 'X';
            display: block;
            line-height: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
        }
        &:hover:after {
            @include bg-info;
        }
    }
    .previous {
        left: 0;
        &:after {
            content: "\f060";
        }
    }
    .next {
        right: 0;
        &:after {
            content: "\f061";
        }
    }
    .close {
        &:after {
            @include bg-normal;
            @include padding-x;
            display: inline-block;
            content: "\f410";
            line-height: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: right;
        }
        &:hover:after {
            @include bg-warning;
        }
    }
}