{% if page.breadcrumb|length > 1 %}
    <nav id="main-breadcrumb" class="breadcrumb" aria-label="Breadcrumb">

        {% for bc in page.breadcrumb %}
            <span class="breadcrumb-item">{{bc|link}}</span>
        {% endfor %}

    </nav>
{% endif %}
